gitignore
/vendor
/node_modules
.env
.env.backup
.env.example

/public/hot
/public/storage

/storage/*.key
/storage/*.sqlite
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/logs/*

/bootstrap/cache/*.php

.vscode/

phpunit.xml
Homestead.json
Homestead.yaml