# Laravel & Livewire Standard Gitignore

### Environment ###
/.env
/.env.*.local
/.env.backup
/.env.production
/.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode

### Laravel ###
/vendor/
/node_modules/
/public/hot
/public/storage
/storage/*.key
/storage/app/public/*
/storage/debugbar/*
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/testing/*
/storage/framework/views/*
/storage/logs/*
/storage/app/*
/bootstrap/cache/*
/.phpunit.cache

### SQLite ###
/database/database.sqlite
/database/*.sqlite*

### Testing ###
/coverage
.phpunit.result.cache

### Build assets ###
/public/build
/public/css
/public/js
/public/mix-manifest.json

### Frontend ###
/resources/js/dist/*
/resources/css/dist/*
/resources/views/vendor/*
/resources/lang/vendor/*

### macOS ###
.DS_Store
._*

### Windows ###
Thumbs.db
ehthumbs.db
Desktop.ini